tspan {
  fill: white;
  font-size: 3rem;
}
.body-inner-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  .body-inner-1-left {
    // border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #282828;

    padding: 2rem 3rem;
    p {
      font-size: 2rem;
      padding: 0;
    }
  }
}
.body-inner-1-right {
  display: flex;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      padding: 1rem 2rem;
      width: 20rem;
      // border: 1px solid white;
      background-color: #272727;
      border-radius: 10px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      p {
        &:nth-child(1) {
          font-size: 1.2rem;
        }
        &:nth-child(2) {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }
}
.body {
  margin: 2rem 8rem;
}
